/*imagenes de juegos*/


.contenedorG {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 20px;
}



.contenedor-juegoss {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}



.cardds{
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}

.cardds .textoss{
	height: 100%;

	display: grid;
    grid-template-rows: 1fr auto ;
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;

	/*width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;*/
    
    display: grid;
    grid-template-rows: auto auto auto ;
    align-items: center;
    
       ul {
	        list-style: none;

	      li {
	         margin: 15px;
	         font-weight: bold;


          }
        }
      }

.boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}
